In [6]:
import pandas as pd 
import numpy as np 
import warnings 
warnings.filterwarnings("ignore")

In [2]:
data={
    'Milk':[1,1,0,1,0,1,0,1,0,0],
    'Bread':[0,1,0,1,0,1,0,1,1,0],
    'Butter':[1,0,0,0,1,1,0,1,0,1],
    'Eggs':[0,1,0,0,0,1,0,1,0,1],
    'Cheese':[0,1,1,1,1,1,0,1,0,0],
    'Diaper':[0,1,0,1,0,1,0,0,1,0],
    'Beer':[0,0,0,1,0,1,0,1,0,1]
}

In [3]:
df=pd.DataFrame(data)

In [4]:
df

   Milk  Bread  Butter  Eggs  Cheese  Diaper  Beer
0     1      0       1     0       0       0     0
1     1      1       0     1       1       1     0
2     0      0       0     0       1       0     0
3     1      1       0     0       1       1     1
4     0      0       1     0       1       0     0
5     1      1       1     1       1       1     1
6     0      0       0     0       0       0     0
7     1      1       1     1       1       0     1
8     0      1       0     0       0       1     0
9     0      0       1     1       0       0     1

In [7]:
from mlxtend.frequent_patterns import apriori,fpgrowth,association_rules
ap=apriori(df,min_support=0.50,use_colnames=True)
ap

   support  itemsets
0      0.5    (Milk)
1      0.5   (Bread)
2      0.5  (Butter)
3      0.6  (Cheese)

In [8]:
ac=association_rules(ap,metric='confidence',min_threshold=0.30,num_itemsets=int)
ac
# fp=fpgrowth(df,min_support=0.50,use_colnames=True)
# fp

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [9]:
%timeit apriori(df,min_support=0.60)
# %timeit fpgrowth(df,min_support=0.60)

5.12 ms ± 139 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)